/*
 * Cocoon -  Portfolio html  Template
 * Build Date: december 2017
 * Author: colorlib
 * Copyright (C) 2018 colorlib
 */
/* ------------------------------------- */
/* TABLE OF CONTENTS
/* -------------------------------------
    . GENERAL
    . SIDE MENU
    . BODY SIDE GENEREL CLASSES
    . BUTTONS
    . ICON BOXES
    . PROJECTS SECTION (PORTFOLIO)
    . BLOG  SECTION
    . COUNTER SECTION
    . Testimonial SECTION
	. Contact Section
	.PROGRESSBAR
	.SINGLE POST (COMMENTS SIDEBAR TAGS LIST)
	------------------------------------- */
/*  ----------------------------------------------------
1. GENERAL
-------------------------------------------------------- */
/* ----------------IMPORT GOOGLE FONTS ------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500");
/* ----------------Text Fonts ------------------- */
body {
  font-size: 16px;
  line-height: 1.6;
  /* font-weight: 300; */
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-style: normal;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #18181c;
  line-height: 1.3;
}

h1, .h1 {
  font-size: 42px;
  margin-bottom: 25px;
}

h2, .h2 {
  font-size: 38px;
  margin-bottom: 25px;
}

h3, .h3 {
  font-size: 36px;
  margin-bottom: 25px;
}

h4, .h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

h5, .h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  line-height: 2.1;
  /* font-weight: 300; */
  color: #000000;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #9c9ca9;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

ul.nosyely_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section_title {
  position: relative;
  margin-bottom: 25px;
}
.section_title h4 {
  text-transform: capitalize;
  font-weight: 500;
}
.section_title h4:after {
  height: 2px;
  width: 30px;
  content: "";
  background-color: #99896e;
  position: absolute;
  left: 2px;
  bottom: -10px;
}

blockquote {
  padding: 75px 25px 25px;
  font-size: 20px;
  text-align: center;
  margin: 25px 50px;
}
blockquote:before {
  content: open-quote;
  display: block;
  font-size: 134px;
  font-family: Georgia, Verdana, Roboto, serif;
  line-height: 0.2;
  padding: 0;
  opacity: 0.2;
  font-weight: 600;
  margin: 0;
}
blockquote p {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  font-style: italic;
}

.text-muted {
  color: #868e96 !important;
  font-size: 14px;
  line-height: 2.1;
}

strong {
  font-weight: 700;
}

.text-xs {
  font-size: 11px;
}

.text-xl {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

img {
  max-width: 100%;
}

@media (max-width: 768px) {
  h1, .h1 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  h2, .h2 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  h3, .h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  h4, .h4 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  h5, .h5 {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  h6, .h6 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .hide-md {
    display: none !important;
  }
}
/* ----------------Responsive Align ------------------- */
@media all and (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }

  .text-left-xs {
    text-align: left;
  }

  .text-right-xs {
    text-align: right;
  }
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 999999;
}
.loader .loader-inner {
  position: absolute;
  border: 2px solid #99896e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@-webkit-keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* ----------------colors------------------- */
.color-gray {
  color: #f4f8fc !important;
}

.color-dark-gray {
  color: #9c9ca9 !important;
}

.color-dark {
  color: #333333 !important;
}

.color-black {
  color: #18181c !important;
}

.color-light {
  color: #ffffff !important;
}

.color-green {
  color: #6cc47f !important;
}

.color-blue {
  color: #0652fd !important;
}

.color-red {
  color: #f97794 !important;
}

.color-orange {
  color: #f79257 !important;
}

.color-yellow {
  color: #ffbf00 !important;
}

.color-purple {
  color: #926cc4 !important;
}

.bg-grad-purple {
  background: #8C66CA;
  background: linear-gradient(135deg, #E25574 0%, #8C66CA 100%);
}

.bg-macaroni {
  background: -webkit-gradient(linear, left top, right top, from(#ff5f6d), to(#ffc371));
  background: linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-gray {
  background-color: #f4f8fc !important;
}

.bg-black {
  background-color: #18181c !important;
}

.bg-blue {
  background-color: #0652fd !important;
}

.bg-purple {
  background-color: #926cc4 !important;
}

/* --------------PADDING STYLE-------------- */
.p0 {
  padding: 0 !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p15 {
  padding: 15px !important;
}

.p20 {
  padding: 20px !important;
}

.p25 {
  padding: 25px !important;
}

.p30 {
  padding: 30px !important;
}

.p35 {
  padding: 35px !important;
}

.p40 {
  padding: 40px !important;
}

.p45 {
  padding: 45px !important;
}

.p50 {
  padding: 50px !important;
}

.p55 {
  padding: 55px !important;
}

.p60 {
  padding: 60px !important;
}

.p65 {
  padding: 65px !important;
}

.p70 {
  padding: 70px !important;
}

.p75 {
  padding: 75px !important;
}

.p80 {
  padding: 80px !important;
}

.p85 {
  padding: 85px !important;
}

.p90 {
  padding: 90px !important;
}

.p95 {
  padding: 95px !important;
}

.p100 {
  padding: 100px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pt120 {
  padding-top: 120px !important;
}

.pt200 {
  padding-top: 200px !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pb120 {
  padding-bottom: 120px !important;
}

.pb200 {
  padding-bottom: 200px !important;
}

.pl0 {
  padding-left: 0;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

.pl45 {
  padding-left: 45px;
}

.pl50 {
  padding-left: 50px;
}

.pl55 {
  padding-left: 55px;
}

.pl60 {
  padding-left: 60px;
}

.pl65 {
  padding-left: 65px;
}

.pl70 {
  padding-left: 70px;
}

.pl75 {
  padding-left: 75px;
}

.pl80 {
  padding-left: 80px;
}

.pl85 {
  padding-left: 85px;
}

.pl90 {
  padding-left: 90px;
}

.pl95 {
  padding-left: 95px;
}

.pl100 {
  padding-left: 100px;
}

/*  -----------------MARGIN STYLE----------------------- */
.m0 {
  margin: 0;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m25 {
  margin: 25px;
}

.m30 {
  margin: 30px;
}

.m35 {
  margin: 35px;
}

.m40 {
  margin: 40px;
}

.m45 {
  margin: 45px;
}

.m50 {
  margin: 50px;
}

.m55 {
  margin: 55px;
}

.m60 {
  margin: 60px;
}

.m65 {
  margin: 65px;
}

.m70 {
  margin: 70px;
}

.m75 {
  margin: 75px;
}

.m80 {
  margin: 80px;
}

.m85 {
  margin: 85px;
}

.m90 {
  margin: 90px;
}

.m95 {
  margin: 95px;
}

.m100 {
  margin: 100px;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mt110 {
  margin-top: 110px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mt-75 {
  margin-top: -75px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.ml100 {
  margin-left: 100px !important;
}

/*  --------------MARGIN STYLE MINUS----------------------------- */
.mt-5 {
  margin-top: -5px;
}

.mt-10 {
  margin-top: -10px;
}

.mt-15 {
  margin-top: -15px;
}

.mt-20 {
  margin-top: -20px;
}

.mt-25 {
  margin-top: -25px;
}

.mt-30 {
  margin-top: -30px;
}

.mt-35 {
  margin-top: -35px;
}

.mt-40 {
  margin-top: -40px;
}

.mt-45 {
  margin-top: -45px;
}

.mt-50 {
  margin-top: -50px;
}

.mt-55 {
  margin-top: -55px;
}

.mt-60 {
  margin-top: -60px;
}

.mt-65 {
  margin-top: -65px;
}

.mt-70 {
  margin-top: -70px;
}

.mt-75 {
  margin-top: -75px;
}

.mt-80 {
  margin-top: -80px;
}

.mt-85 {
  margin-top: -85px;
}

.mt-90 {
  margin-top: -90px;
}

.mt-95 {
  margin-top: -95px;
}

.mt-100 {
  margin-top: -100px;
}

.mt-110 {
  margin-top: -110px;
}

.mt-120 {
  margin-top: -120px;
}

.mt-130 {
  margin-top: -130px;
}

.mt-140 {
  margin-top: -140px;
}

.mt-150 {
  margin-top: -150px;
}

.ml-5 {
  margin-left: -5px;
}

.ml-10 {
  margin-left: -10px;
}

.ml-15 {
  margin-left: -15px;
}

.ml-20 {
  margin-left: -20px;
}

.ml-25 {
  margin-left: -25px;
}

.ml-30 {
  margin-left: -30px;
}

.ml-35 {
  margin-left: -35px;
}

.ml-40 {
  margin-left: -40px;
}

.ml-45 {
  margin-left: -45px;
}

.ml-50 {
  margin-left: -50px;
}

.ml-55 {
  margin-left: -55px;
}

.ml-60 {
  margin-left: -60px;
}

.ml-65 {
  margin-left: -65px;
}

.ml-70 {
  margin-left: -70px;
}

.ml-75 {
  margin-left: -75px;
}

.ml-80 {
  margin-left: -80px;
}

.ml-85 {
  margin-left: -85px;
}

.ml-90 {
  margin-left: -90px;
}

.ml-95 {
  margin-left: -95px;
}

.ml-100 {
  margin-left: -100px;
}

.ml-110 {
  margin-left: -110px;
}

.ml-120 {
  margin-left: -120px;
}

.ml-130 {
  margin-left: -130px;
}

.ml-140 {
  margin-left: -140px;
}

.ml-150 {
  margin-left: -150px;
}

.mb-5 {
  margin-bottom: -5px;
}

.mb-10 {
  margin-bottom: -10px;
}

.mb-15 {
  margin-bottom: -15px;
}

.mb-20 {
  margin-bottom: -20px;
}

.mb-25 {
  margin-bottom: -25px;
}

.mb-30 {
  margin-bottom: -30px;
}

.mb-35 {
  margin-bottom: -35px;
}

.mb-40 {
  margin-bottom: -40px;
}

.mb-45 {
  margin-bottom: -45px;
}

.mb-50 {
  margin-bottom: -50px;
}

.mb-55 {
  margin-bottom: -55px;
}

.mb-60 {
  margin-bottom: -60px;
}

.mb-65 {
  margin-bottom: -65px;
}

.mb-70 {
  margin-bottom: -70px;
}

.mb-75 {
  margin-bottom: -75px;
}

.mb-80 {
  margin-bottom: -80px;
}

.mb-85 {
  margin-bottom: -85px;
}

.mb-90 {
  margin-bottom: -90px;
}

.mb-95 {
  margin-bottom: -95px;
}

.mb-100 {
  margin-bottom: -100px;
}

.mb-110 {
  margin-bottom: -110px;
}

.mb-120 {
  margin-bottom: -120px;
}

.mb-130 {
  margin-bottom: -130px;
}

.mb-140 {
  margin-bottom: -140px;
}

.mb-150 {
  margin-bottom: -150px;
}

/*  ----------------------------------------------------
2. HEADER
-------------------------------------------------------- */
.body-container {
  position: relative;
}

.menu-btn {
  font-size: 36px;
  text-align: center;
  position: fixed;
  right: 30px;
  display: none;
  opacity: 0;
  bottom: 30px;
  padding: 3px 0;
  background-color: #fff;
  z-index: 9999;
  width: 60px;
  color: #99896e;
  height: 60px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 42px rgba(0, 0, 0, 0.1);
}
.menu-btn:hover {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.09);
  color: #18181c;
}

.menu_block {
  background-color: #18181c;
  min-height: 100vh;
  padding: 0;
}
.menu_block .logo_box {
  text-align: center;
  padding: 25px 10px;
}
.menu_block .side_menu_section {
  margin-top: 50px;
}
.menu_block .side_title {
  padding-left: 50px;
  color: #99896e;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 25px;
  font-weight: 500;
}
.menu_block .side_menu_bottom {
  min-height: 300px;
}
.menu_block .side_menu_bottom .side_menu_bottom_inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.menu_block .copy_right {
  padding: 25px;
  color: #99896e;
  margin-top: 50px;
}
.menu_block .copy_right p {
  color: #99896e;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.menu_nav {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-left: 0;
}
.menu_nav li {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin-top: 2px;
}
.menu_nav li a {
  display: inline-block;
  padding: 12px 25px 12px 50px;
  background-color: transparent;
  color: #ffffff;
}
.menu_nav li a:hover {
  background-color: #99896e;
}
.menu_nav li a:focus {
  background-color: #99896e;
}
.menu_nav li.active a {
  background-color: #99896e;
  color: #ffffff;
}
.menu_nav .sub-menu {
  position: absolute;
  right: 0;
  left: 100%;
  z-index: 999999;
  background-color: #99896e;
  padding: 10px;
  display: inline-block;
  min-width: 200px;
}
.menu_nav .sub-menu li a {
  text-align: left;
  padding: 10px 25px;
  text-transform: capitalize;
  background-color: transparent;
}
.menu_nav .sub-menu li a:hover {
  color: #dddddd;
}

.filter_nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter_nav li {
  padding: 0;
  margin-top: 2px;
}
.filter_nav li a {
  display: inline-block;
  padding: 8px 15px 8px 50px;
  text-transform: capitalize;
  color: #ffffff;
}
.filter_nav li a:hover {
  background-color: #99896e;
  color: #ffffff;
}
.filter_nav li.active a {
  background-color: #99896e;
  color: #ffffff;
}

.social_menu {
  margin-top: 100px;
  text-align: center;
  padding: 0;
  list-style: none;
}
.social_menu li {
  display: inline-block;
}
.social_menu li a {
  padding: 7px;
  font-size: 20px;
  color: #99896e;
}
.social_menu li a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .menu-btn {
    opacity: 1;
    display: block;
  }

  .menu_block {
    min-height: 100%;
    padding: 0;
    max-width: 250px;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 999999;
    margin-left: -250px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .menu_block .side_menu_bottom {
    position: relative;
  }

  .sidebar_closed .menu_block {
    margin-left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
/*  ----------------------------------------------------
3 body
-------------------------------------------------------- */
.body_block {
  background-color: #ffffff;
  padding: 50px 30px;
}

.img_card {
  position: relative;
}
.img_card .content_section {
  background-color: #ffffff;
  position: relative;
  padding: 50px 0;
}
.img_card .content_section .content_box {
  position: relative;
  left: 0;
  right: 0;
  margin-right: -75px;
  z-index: 999;
  top: 0;
  width: auto;
  bottom: 0;
  padding: 15px;
  min-height: 500px;
  background-color: #ffffff;
}
.img_card .content_section .content_box .content_box_inner {
  padding: 25px 20px 25px 15px;
}
.img_card .img_section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*  ----------------------------------------------------
4 buttons
-------------------------------------------------------- */
.btn {
  font-size: 13px;
  /* line-height: 1.7; */
  text-transform: capitalize;
  color: #fff;
  /* font-weight: 400; */
  /* padding: 15px 50px; */
  /* border-radius: 0; */
  outline: 0 !important;
  border: none;
  cursor: pointer;
  /* letter-spacing: 1px; */
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  color: #18181c;
  background-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-sm {
  padding: 10px 20px;
}

.btn-lg {
  padding: 18px 50px;
}

.btn_center {
  margin: 0 auto;
  display: block;
}

.btn.btn-shadow {
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
}
.btn.btn-shadow:hover {
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.btn-rounded {
  border-radius: 50px;
}

.btn-primary {
  background-color: #99896e;
  border: solid 1px #99896e;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary:hover {
  background-color: #18181c;
  color: #ffffff;
  border: solid 1px #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-primary-outline {
  background-color: transparent;
  border: solid 1px #99896e;
  color: #99896e;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary-outline:hover {
  background-color: #99896e;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-light {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-light:hover {
  color: #ffffff;
  border: solid 1px #18181c;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-dark {
  background-color: #333333;
  border: solid 1px #18181c;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-dark:hover {
  color: #18181c;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/*  ----------------------------------------------------
5 icon boxes
-------------------------------------------------------- */
.icon-lg {
  font-size: 64px !important;
}

.icon-md {
  font-size: 32px !important;
}

.icon-sm {
  font-size: 16px !important;
}

.icon_box_one {
  padding: 10px 0;
  margin: 25px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.icon_box_one i {
  font-size: 56px;
  color: #99896e;
  /* vertical-align: middle; */
  margin: 0 auto;
  border-radius: 4px;
  display: block;
}
.icon_box_one .content {
  margin-top: 20px;
}
.icon_box_one .content h5 {
  color: #333333;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.img_box_one {
  padding: 5px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.img_box_one img {
  max-width: 64px;
  margin-bottom: 25px;
}
.img_box_one h5 {
  text-transform: capitalize;
  font-size: 22px;
}

.img_box_two {
  display: inline-block;
  padding-left: 55px;
  position: relative;
  margin-top: 25px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.img_box_two img {
  max-width: 40px;
  position: absolute;
  left: 0;
}
.img_box_two h5 {
  color: #333333;
  text-transform: capitalize;
  font-size: 16px;
}
.img_box_two p {
  color: #9c9ca9;
  font-size: 14px;
  font-weight: 400;
}

/*  ----------------------------------------------------
6 portfolio
-------------------------------------------------------- */
.project_box_one {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  cursor: crosshair;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one .product_info {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.project_box_one .product_info .product_info_text {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}
.project_box_one .product_info .product_info_text .product_info_text_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.project_box_one .product_info .product_info_text .product_info_text_inner h4 {
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
  margin-bottom: 5px;
}
.project_box_one .product_info .product_info_text .product_info_text_inner i {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  opacity: 0;
}
.project_box_one:hover img {
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari */
  transform: scale(1.1);
  /* Standard syntax */
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project_box_one:hover .product_info {
  opacity: 1;
}
.project_box_one:hover .product_info .product_info_text_inner h4 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.project_box_one:hover .product_info .product_info_text_inner i {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #ffffff;
  word-wrap: break-word;
  padding-right: 36px;
  font-size: 14px;
  text-transform: capitalize;
}

.gutters .grid-item {
  margin-bottom: 30px;
}

/*  ----------------------------------------------------
7 counter
-------------------------------------------------------- */
.counter_box {
  text-align: left;
  margin: 25px 0;
}
.counter_box .divider {
  border: solid 1px #99896e;
  width: 40px;
  margin-bottom: 15px;
}
.counter_box .counter {
  font-size: 36px;
  color: #99896e;
  font-weight: 400;
  display: inline-block;
  padding: 0 3px;
  margin: 0;
}
.counter_box h5 {
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  font-size: 14px;
  color: #18181c;
}

/*  ----------------------------------------------------
8 tabs
-------------------------------------------------------- */
.hosting_nav {
  margin-top: 0;
  position: relative;
  top: -60px;
}
.hosting_nav .nav-item {
  padding: 25px;
}
.hosting_nav a.nav-link {
  background-color: #ffffff;
  color: #0652fd;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.07);
  padding: 70px 30px;
}
.hosting_nav a.nav-link img {
  max-width: 64px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #ffffff;
}

/*  ----------------------------------------------------
9 testimonial
-------------------------------------------------------- */
.testimonial_carousel {
  border: solid 2px #99896e;
  padding: 25px;
  position: relative;
  margin: 15px 0;
}
.testimonial_carousel p {
  font-style: italic;
}
.testimonial_carousel .testimonial_author {
  display: inline-block;
  position: relative;
  padding: 15px 60px;
}
.testimonial_carousel .testimonial_author img {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}
.testimonial_carousel .testimonial_author h5 {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #333333;
  padding-top: 10px;
}
.testimonial_carousel .testimonial_author p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
.testimonial_carousel .testimonial_author p span {
  color: #99896e;
}
.testimonial_carousel:before {
  content: "\f347";
  font-family: "Ionicons";
  position: absolute;
  color: #18181c;
  top: -10px;
  background-color: #ffffff;
  padding: 0 35px;
  font-size: 18px;
  left: 15px;
  line-height: 0.8;
}

.testimonial_carousel .slick-dots {
  position: absolute;
  bottom: 50px;
  right: 15px;
  left: auto;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.testimonial_carousel .slick-dots li {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  margin: 0 1px;
  padding: 0;
  cursor: pointer;
}
.testimonial_carousel .slick-dots li button {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #856404;
  border-radius: 50%;
  margin: 0 1px;
  opacity: 0.5;
  padding: 0;
  cursor: pointer;
}
.testimonial_carousel .slick-dots li button:before {
  content: "";
  opacity: 0;
}
.testimonial_carousel .slick-dots li.slick-active button {
  opacity: 1;
}

/*  ----------------------------------------------------
10 blog
-------------------------------------------------------- */
.blog_card {
  margin-bottom: 30px;
  padding: 15px;
}
.blog_card .blog_card_top {
  position: relative;
}
.blog_card .blog_card_top .blog_date {
  background-color: #ffffff;
  width: 60px;
  text-align: center;
  border: solid 1px #99896e;
  position: absolute;
  top: -15px;
  left: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 0.7;
  padding: 15px 5px;
  word-break: break-word;
  color: #18181c;
}
.blog_card .blog_card_top .blog_date span {
  font-size: 12px;
  font-weight: 400;
  color: #9c9ca9;
}
.blog_card .blog_card_bottom {
  padding: 25px 0;
}
.blog_card .blog_card_bottom h4 {
  margin-bottom: 5px;
}
.blog_card .blog_card_bottom h4 a {
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
  text-transform: capitalize;
  color: #18181c;
}
.blog_card .blog_card_bottom .meta_data {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 30px;
}
.blog_card .blog_card_bottom .meta_data span {
  padding: 0 5px;
  border-right: 1px #99896e solid;
}
.blog_card .blog_card_bottom .meta_data span:last-child {
  border-right: 0 #99896e solid;
}

.widget {
  margin-bottom: 50px;
}
.widget .widget-title {
  margin-bottom: 25px;
  font-size: 18px;
  color: #18181c;
  text-transform: capitalize;
}
.widget ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.widget_search {
  position: relative;
  width: 100%;
}
.widget_search input {
  border: 0;
  border-bottom: solid 1px #99896e;
  padding: 12px;
  width: 100%;
  outline: 0;
  font-size: 12px;
  font-style: italic;
}

.widget_categories {
  position: relative;
  width: 100%;
}
.widget_categories ul li a {
  padding: 6px 0;
  display: block;
  width: 100%;
  color: #9c9ca9;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.widget_categories ul li a:hover {
  color: #99896e;
}

.widget_instagram {
  position: relative;
  width: 100%;
}
.widget_instagram ul li {
  display: inline-block;
  width: 32%;
  padding: 1%;
  margin: 2px 0;
}
.widget_instagram ul li img {
  width: 100%;
}

.widget_tags {
  position: relative;
  width: 100%;
}
.widget_tags ul li {
  display: inline-block;
  margin: 7px 2px;
}
.widget_tags ul li a {
  display: block;
  padding: 10px 12px;
  background-color: #f4f8fc;
  color: #9c9ca9;
  border: solid 1px #f4f8fc;
  font-size: 12px;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.widget_tags ul li a:hover {
  background-color: #ffffff;
  border: solid 1px #99896e;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

/*  ----------------------------------------------------
11 contact box
-------------------------------------------------------- */
.contact_box {
  padding: 35px;
  background-color: #ffffff;
  border-radius: 4px;
}
.contact_box label {
  color: #000;
  font-size: 13px;
  text-transform: capitalize;
}

.map {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.form-control {
  /* font-size: 12px; */
  padding: 12px 15px;
  height: 50px;
  border-radius: 1px;
  background-color: #f2f4f8;
  border: solid 1px #f2f4f8;
  /* margin-bottom: 25px; */
  outline: 0 !important;
  font-style: italic;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.form-control:focus {
  background-color: #ffffff;
  border-color: #99896e;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

textarea.form-control {
  min-height: 200px;
  resize: vertical;
}

/*  ----------------------------------------------------
12 progressbar
-------------------------------------------------------- */
.single_progressbar {
  position: relative;
  margin-top: 30px;
}
.single_progressbar .progress_text {
  margin-bottom: 5px;
  color: #9c9ca9;
  font-weight: 300;
  font-size: 14px;
  text-transform: capitalize;
}
.single_progressbar .progress_text span.progress_bar {
  color: #9c9ca9;
}
.single_progressbar .progress_text .progress_num {
  position: absolute;
  left: 90%;
}
.single_progressbar .progress {
  height: 4px;
  margin-bottom: 5px;
  overflow: hidden;
  background: #99896e;
  /* The Fallback */
  background: rgba(153, 137, 110, 0.2);
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}
.single_progressbar .progress .progress-bar {
  height: 100%;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: #99896e;
}

.accordion_card {
  border: solid 1px #99896e;
  border-radius: 0;
  margin: 15px 0;
}
.accordion_card .card-header {
  color: #ffffff;
  border-bottom: 0;
  border-radius: 0 !important;
  padding: 0;
}
.accordion_card .card-header h5 {
  margin: 0;
}
.accordion_card .card-header h5 a {
  background-color: #ffffff;
  color: #99896e;
  display: block;
  padding: 15px;
  border-bottom: solid 1px #99896e;
}
.accordion_card .card-header h5 a.collapsed {
  background-color: #99896e;
  color: #ffffff;
  border-bottom: solid 0 #99896e;
}
.accordion_card .card-body {
  font-size: 16px;
}
